<main class="contenedor">
    <form action="/openings/edit/{{opening.url}}" method="POST" class="default-form">
         <h3>General Information</h3>

        <div class="campo">
            <label >Title</label>
            <input type="text" name="title" value="{{opening.title}}" placeholder="Ex: React Developer" required>
        </div>
        <div class="campo">
            <label >Company</label>
            <input type="text" name="company" value="{{opening.company}}" placeholder="Nike" required>
        </div>
        <div class="campo">
            <label >Location</label>
            <input type="text" name="location" value="{{opening.location}}" placeholder="Buffalo, NY" required>
        </div>
        <div class="campo">
            <label >Salary (USD)</label>
            <input type="text" name="salary" value="{{opening.salary}}" placeholder="Base On Experience" required>
        </div>
        <div class="campo">
            <label>Term</label>
            <select name="term">
                {{#typeContract opening.term}}
                    <option value="" disabled selected>-- Select one</option>
                    <option value="Freelance">Freelance</option>
                    <option value="FullTime">Full Time</option>
                    <option value="PartTime">Part Time</option>
                    <option value="ForProject">For Project</option>
                {{/typeContract}}
            </select>
        </div>
        <h3>Position Description</h3>
        <div class="campo descripcion">
            <label>Description</label>
            <input type="hidden" id="x" value="{{{opening.description}}}" name="description">
            <trix-editor input="x"></trix-editor>
        </div>

        <h3>Skills</h3>

        <ul class="lista-conocimientos">
            {{#selectSkills opening.skills}}
            {{/selectSkills}}
        </ul>

        <div class="campo centrar-horizontal">
            <input type="hidden" name="skills" id="skills">
            <input type="submit" value="Save" class="btn btn-azul">
        </div>
    </form>
</main>